Today: <%=Time.now.strftime("%d/%m/%Y")%>


<%= form_for @period do |f| %>

<div class="form-group col md-6">
  <label for="date">Date</label>
  <%=f.date_field :class_date, placeholder: "Enter the date of class" ,required: "required", class: "form-control here", id:"date"%>

</div>
<button name="submit" type="submit" class="btn btn-success">Add</button>

<%= link_to '<button class="btn btn-primary">View classes</button>'.html_safe, periods_view_path%>
<%end%>
