<h1>Hello, <%=current_user.email%></h1>

  <%for p in @periods%>
    <%if Time.now.strftime("%Y-%m-%d")==p.class_date.strftime("%Y-%m-%d")%>
      <button class="btn btn-success"id="present">Mark me present</button>
      <%end%>
      <%end%>
    <!-- <%@user.classes=0%> -->


<script>
console.log('hello');
$('#present').click(function(){

$(this).prop('disabled', true);

});

</script>
