<h1>Hello,
  <%=current_user.email%></h1>


  <%if @periods.include? @today%>
    <button class="btn btn-success" id="present">Mark me present</button>
    <%else%>
    <button disabled class="btn btn-success" id="present">Mark me present</button>
    <%end%>

  <button class="btn btn-info" id="present">View my attendance record</button>
  <!-- <%@user.classes=0%> -->

  <script>
    console.log('Script running');
    $('#present').click(function () {

      $(this).prop('disabled', true);

    });
  </script>
