<div id="auth-info-links">
  <%if user_signed_in?%>

    <p>
      <%=link_to "Sign Out", destroy_user_session_path, method: :delete%>
    </p>
  <%else%>
    <p>
      <%=link_to "Sign In", new_user_session_path%>
    </p>
    <p>
      <%=link_to "Sign Up", new_user_registration_path%>
    </p>

  <%end%>

</div>
<h1>Hello,
  <%=current_user.email%></h1>


  <%if @periods.include? @today%>
    <button class="btn btn-success" id="present">Mark me present</button>
    <%else%>
    <button disabled class="btn btn-success" id="present">Mark me present</button>
    <%end%>

  <button class="btn btn-info" id="present">View my attendance record</button>
  <!-- <%@user.classes=0%> -->

  <script>
    console.log('Script running');
    $('#present').click(function () {

      $(this).prop('disabled', true);

    });
  </script>
